[submodule "third-party/nlohmann-json"]
	path = third-party/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "third-party/kfc-parser"]
	path = third-party/kfc-parser
	url = https://github.com/Brabb3l/kfc-parser.git
